* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(137, 166, 173);
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*coloca a imagem atras das letras (em background)*/
    background-image: url(../sitetreino/img/pessoas.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: right;
    box-shadow: -3px 1px 30px -9px rgba(0, 0, 0, 0.88);
}

header #menu {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 5vh;
}

header #sign {
    padding: 10px 20px;
    border-radius: 20px;
    border-color: white;
    margin-top: 4vh;
    transition: 0.5s;
    background-color: transparent;
}

#sign:hover {
    background-color: rgb(68, 68, 250);
    border: none;
    color: white;
}

#logo {
    width: 20vh;
}

#textoPrincipal {
    width: 100vh;
    padding: 15px;
    margin: 20vh 20vh;
}

#textoPrincipal h2 {
    text-align: center;
    padding: 10vh;
    font-size: 50px;
    color: white;
}

#textoPrincipal p {
    text-align: start;
    font-size: larger;
    color: white;
}

#textoPrincipal #botaoBranco {
    margin-left: 30vh;
    padding: 20px 30px;
    border-radius: 20px;
    border-color: white;
    border: none;
    margin-top: 4vh;
}

#textoPrincipal #botao {
    margin-left: 4vh;
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 4vh;
    background-color: rgb(68, 68, 250);
    transition: 0.5;
}

/*começa a edição do main*/
#main {
    background-color: white;
    display: flex;
    justify-content: center;
}

.block {
    box-shadow: 2px 4px 76px 0px rgba(0, 0, 0, 0.15);
    margin: 10vh 8vh;
    padding: 2vh 6vh;
    width: 20vh;
    height: 100%;
    border-radius: 15px;
}

.block img {
    width: 20vh;
    height: 20vh;
}

.block h3{
    margin: 10px 0 15px;
    font-size: larger;
}